<h1><%= @profile.name %></h1>
<br>
<p>email: <strong><%= @profile.email %></strong></p>
<p>Birth date: <strong><%= @profile.birth_date.year %></strong></p>

<p>Fallowers: WILL BE IMPLEMENTED</p>
<p>Fallowing: WILL BE IMPLEMENTED</p>
